#box{
    margin-top: 20px;
    
}
.addto{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../imagess/background2.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
#box .card{
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card:hover{
    transform: translateY(-10px);
}
.rotate{
    transition: width 2s, height 2s, transform 2s;
}
.rotate:hover{
    transform: rotate(360deg);
}
.cup {
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../imagess/cnva.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px black;
    margin-top: 10px;
}
.cup .img{
    flex: 1 1 400px;
}
.cup .img img{
    width: 100%;
}
.cup .content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: 10px;
}
.cup .content h3{
    color: rgba(161,109,14,1);
    font-weight: bold;
}
.cup .content h2{
    font-size: 50px;
    color: rgba(161,109,14,1);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.cup .content p{
    color: rgba(161,109,14,1);
}
#btnorder button{
    width: 150px;
    height: 32px;
    letter-spacing: 5px;
    background-color: rgba(161,109,14,1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .cup .content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:855px){
    .cup 
    {
        height: 100vh;
    }
}
.cs{
    text-align: center;
    font-style: oblique;
}